{% if site.giscus.reactions-enabled == true %}

{% assign reactions-enabled = "1" %}
{% else %}
{% assign reactions-enabled = "0" %}
{% endif %}

<script src="https://giscus.app/client.js"
        data-repo="{{ site.giscus.repo.name }}"
        data-repo-id="{{ site.giscus.repo.id }}"
        data-category="{{ site.giscus.category.name }}"
        data-category-id="{{ site.giscus.category.id }}"
        data-mapping="{{ site.giscus.mapping }}"
        data-strict="0"
        data-reactions-enabled="{{ reactions-enabled }}"
        data-emit-metadata="0"
        data-input-position="{{ site.giscus.position }}"
        data-theme="{{ site.giscus.theme }}"
        data-lang="{{ site.lang }}"
        crossorigin="anonymous"
        async>
</script>
